body {
    font-family: Arial, sans-serif;
    color: #262626;
    min-width: 980px;
}

.main {
    display: block;
    //border: solid black;
    margin-top: 140px;
}

.gnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 20px;
}

#appdrawer {
    width: 18px;
    height: 18px;
    opacity: 0.55;
    padding-left: 12px;
    padding-right: 12px;
}

#profile-icon {
    border-radius: 50%;
}

a.alt-link {
    color: #0039e6;
}

#alt {
    font-size: small;
}

a {
    padding: 0 8px;
    font-size: small;
    color: #262626;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    display: inherit;
    //border: solid black;
    margin: 30px auto;
}

.search-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 180px;
}

.search-bar {
    display: flex;
    margin: 10px auto;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 580px;
}

.search-bar:hover {
    box-shadow: 0 2px 4px 1px #d9d9d9;
}

.icon {
    width: 20px;
    height: 20px;
    text-align: center;
    margin: auto 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.icon img {
    width: 100%;
    height: 100%;
}

.form-control {
    width: 520px;
    height: 40px;
    outline: none;
    border: none;
}

.search-buttons {
    margin: auto;
}

.search-buttons button {
    padding: 10px 15px;
    margin: 0px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid transparent;
}

.search-buttons button:hover {
    border: 1px solid #4d4d4d;
}

.search-buttons button:focus {
    outline: none;
    border: 1px solid #0039e6;
}

.google-alt {
    margin: auto;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #f2f2f2;
}

#footer-home {
    width: 980px;
}

.trans-color, .trans-color a {
    font-size: 0.85rem;
    color: rgba(0,0,0,.7);
}

.country-bar {
    padding: 15px 0;
    border: 1px solid #d9d9d9;
    margin: 0;
}

#country {
    padding-left: 25px;
}

.business {
    float: left;
    padding: 15px 17px;
}

.legal {
    float: right;
    padding: 15px 17px;
}

@media (min-width: 980px){
    #footer-home {
        width: 100%;
    }
}

/*  Google Search Page  */

#search-header {
    min-width: 1100px;
}

#search-main {
    min-width: 932px;
}

#search-space {
    display: flex;
    padding: 20px 14px;
    align-items: center;
}

#logo-search {
    height: 30px;
    width: 92px;
    padding-right: 24px;
}

#search-page-bar {
    display: flex;
    margin: 0;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 640px;
}

#search-input {
    width: 570px;
    margin-left: 20px;
}

#search-gnav {
    width: 100px;
}

#upper-header {
    display: flex;
    justify-content: space-between;
}

.categories {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

#left-category, #toolbar {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

#toolbar {
    width: 280px;
}

.list-link {
    display: inline-block;
    padding: 15px 12.5px;
    color: rgba(0,0,0,.7);
}

.list-link:hover {
    text-decoration: none;
    color: #0039e6;
}

.selected {
    border-bottom: 3px solid #0039e6;
    padding-bottom: 11px;
    color: #0039e6;
}

#search-main {
    margin-left: 168px;
}

#results-number {
    padding-top: 14px;
    color: rgba(0,0,0,.7);
}

.search-result {
    margin: 30px 0;
}

.site-link, .result-desc, #results-number {
    font-size: 0.9rem;
}

.result-link {
    display: block;
    width: 620px;
    font-size: 1.3rem;
    padding: 0;
    color: #1a0dab;
    margin: 10px 0;
}

.result-link:visited {
    color: #609;
}

.result-desc {
    display: block;
    width: 600px;
    line-height: 1.5em;
}

.extra-links {
    padding: 0;
    color: #1a0dab;
}

#arrow {
    margin-left: 8px;
}

.box-result {
    width: 600px;
    margin-left: -20px;
    margin-bottom: 30px;
}

.box {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}

#top, #middle {
    border-bottom: 1px solid #eee;
}

#top, #middle, #bottom {
    display:flex;
    padding: 10px 20px;
    justify-content: space-between;
}

#feedback {
    display: block;
    width: 580px;
    text-align: right;
    font-style: italic;
    padding-top: 5px;
    color: rgba(0,0,0,.7);
}

.small-text {
    font-size: 0.9rem;
    color: rgba(0,0,0,.7);
}

.related-results {
    display: flex;
    
}

.rel-box {
    display: flex;
    flex-direction: column;
    margin: 15px 7px 15px 7px;
    text-align: center;
}

.rel-img {
    margin-bottom: 5px;
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.narrow-link {
    width: 72px;
}

#keyword {
    padding: 0;
    color: #1a0dab;
    font-weight: 900;
    font-size: 0.9rem;
}

.keyword-list li {
    margin: 8px 0;
    margin-right: 20px;
}

.keyword-list {
    display: flex;
    margin: 20px 0;
    height: 100px;
}

.big-font {
    font-size: 1.4rem;
}

#google-g {
    display: block;
    width: 28px;
    height: 28px;
    padding-bottom: 25px;
}

#google-gle {
    display: block;
    width: 70%;
    height: 70%;
    padding-bottom: 2px;
}

#red-o, #yellow-o {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0 2px 12px 2px;
}

#pages-nav td {
    display: inline-block;
    text-align: center;
}

#pages-nav tr {
    vertical-align: top;
}

.page-links {
    color: #3385ff;
    font-size: 0.9rem;
}

.table {
    margin: 0 auto;
}

#footer-search {
    position: relative;
    width: 1100px;
}

#search-input {
    font-size: 0.9rem;
}

@media (min-width: 1100px){
    #footer-search {
        width: 100%;
    }
}